body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h4,
h5 {
  font-family: 'Source Serif Pro', serif;
}

header h1 {
  color: white;
}

header h5 {
  color: #abad9a;
  font-family: 'Source Serif Pro', serif;
  text-shadow: 1.5px 1px black;
}

.btn-default {
  background-color: #005b51;
  color: #fff;
  border-color: #2f3e48;
}

.carousel img {
  /* top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
  max-height: 400px;
  width: auto; */
  margin: 0;
  padding: 0;
  max-height: 450px;
}

.jumbotron {
  margin: 0;
  padding: 25px;
  background-image: linear-gradient(to right, #005b51, #2e8e82, #f9faed);
}

.navbar {
  background-color: #2e8e82;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

#becky,
#george {
  box-shadow: 8px 8px 10px #aaa;
  border-radius: 20px;
  margin-bottom: 15px;
}

footer {
  background-image: linear-gradient(#2e8e82, white);
  padding: 20px 0;
}
